/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Roboto:wght@300;400;700&display=swap');

    /* font-family: 'Love Ya Like A Sister', cursive; */
    /* font-family: 'Roboto', sans-serif; */

/* Pontos de Quebra definidos */
    @media screen and (max-width: 1280px){ }
    @media screen and (max-width: 1024px){ }
    @media screen and (max-width: 768px){ }
    @media screen and (max-width: 576px){ } 

/* Configurações Gerais */
    body {
        display: block;
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif; 
    }

    #body-wrapper {
        display: flex;
        flex-flow: column wrap;
    }

    img { max-width: 100%; }

/* Helpers */
    .btn {
        display: inline-block;
        padding: 12px 24px;
        border: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        background-color: #661FFF;
        color: #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        transition: background-color .3s;
    }
    .btn:hover {
        cursor: pointer;
    }

    .text-right { text-align: right; }
    .text-left { text-align: left; }
    .text-center { text-align: center; }


/* Header */

    #top-bar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        background-color: #efefef;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        z-index: 3;
    }

    #top-bar h2 { 
        margin: 0;
        font-family: 'Love Ya Like A Sister', cursive;
        font-size: 26px;
    }

    #top-bar .sign-in .btn {
       margin-right: 10px;
    }

    @media screen and (max-width: 576px){ 
        #top-bar .sign-in small {
            display: none;
        }
    } 

/* Footer */
    #home-footer {
        display: flex;
        flex-flow: column wrap;
        
    }

    #home-footer .content { 
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 40px;
        background-color: #4696af;
    }

    #home-footer .copyright {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 20px;
        background-color: #174e60;
    }

/* Pagina - Home page */

    main.page-home {
        display: flex;
        flex-flow: column wrap;
    }

    /* Sessão Call to Action */
        main.page-home #cta { 
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            padding: 0 40px;
            background-color: #37c2ce;
        }

        main.page-home #cta .cta-text {
            width: 50%;
        }

        main.page-home #cta img {
            max-width: 45%;
        }

        @media screen and (max-width: 768px){ 
            main.page-home #cta {
                position: relative;
            }
            
            main.page-home #cta .cta-text {
                width: 100%;
                z-index: 2;
            }

            main.page-home #cta img { 
                position: absolute;
                opacity: 0.1;
                z-index: 1;
                max-width: 100%;
                max-height: 100%;
                top: 0; right: 0%; bottom: 0;
            }
        }
        

    /* Sessão Vantagens */
        main.page-home #vantagens { 
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 20px 20px;
        }

        main.page-home #vantagens article {
            margin: 20px;
            max-width: 25%;
            min-width: 180px;
            text-align: center;
        }

        main.page-home #vantagens img{
            display: block;
            margin: 0 auto;
            max-width: 50%;
        }

        @media screen and (max-width: 576px){ 
            main.page-home #vantagens { 
                flex-flow: column nowrap;
            }

            main.page-home #vantagens article {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                max-width: 100%;
                text-align: left;
            }

            main.page-home #vantagens article:nth-child(even) {
                flex-flow: row-reverse nowrap;
                text-align: right;
            }

            main.page-home #vantagens article img {
                max-width: 80px;
            }

            main.page-home #vantagens article:nth-child(odd) img{
                margin-right: 40px;
            }

            main.page-home #vantagens article:nth-child(even) img{
                margin-left: 40px;
            }
        } 

    /* Sessão Faixa Call to Action */
        main.page-home #faixa-cta { 
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 30px 40px;
            background-color: darkblue;
        }

        main.page-home #faixa-cta h4 { 
            margin: 0;
            color: #ccc;
        }

        @media screen and (max-width: 768px){ 
            main.page-home #faixa-cta{
                flex-flow: column;
            }

            main.page-home #faixa-cta h4 {
                margin-bottom: 10px;
            }
        }