.vantagens { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 20px;
}

.vantagens article {
    margin: 20px;
    max-width: 25%;
    min-width: 180px;
    text-align: center;
}

.vantagens img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    max-height: 120px;
}

@media screen and (max-width: 576px){ 
    .vantagens { 
        flex-flow: column nowrap;
    }

    .vantagens article {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: 100%;
        text-align: left;
    }

    .vantagens article:nth-child(even) {
        flex-flow: row-reverse nowrap;
        text-align: right;
    }

    .vantagens article img {
        max-width: 80px;
    }

    .vantagens article:nth-child(odd) img{
        margin-right: 40px;
    }

    .vantagens article:nth-child(even) img{
        margin-left: 40px;
    }
} 