#menu-shadow {
    display: block;
    position: fixed;
    top: 0; right: 0; bottom: 0;left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 998;
    display: none;
}

#menu-sidebar {
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 300px;
    z-index: 999;
    background: #002171;
    display: none;
}

#menu-sidebar > * {
    display: block;
    width: 100%;
}

/* Área Logo */
    #menu-sidebar .logo {
        padding: 12px;
        border-bottom: solid 2px #0d47a1;
    } 

    #menu-sidebar .logo h2 {
        margin: 0;
        font-size: 24pt;
        font-family: 'Love Ya Like A Sister', cursive;
        color: #fff;
    }
/* Navs */
    nav {
        border-bottom: solid 2px #0d47a1;
    }
    nav li {
        padding: 0;
        list-style: none;
    }
    nav li a {
        padding: 20px;
        display: block;
        width: 100%;
        font-weight: bold;
        color: #fff;

    }
    nav li a:hover{
        text-decoration: none;
    }

    nav ul {
        margin: 0;
        padding: 0;
        background-color: #efefef;
    }
    nav ul li { 
        padding-left: 60px;
        border-bottom: solid 2px #dedede;
    }
    nav ul li a {
        color: #333;
    }

    nav i {
        margin-right: 5px;
    }
